@import url('https://fonts.googleapis.com/css?family=Koulen|Nabla|Rancho&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background:white;
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}
.logo{
    width: 175px;
    left: 3vh; 
    top: 4vh;
}
nav{
    height: 5vh;
    left: 0;
    right: 0;
    width: 35%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
nav{
    list-style: none;
}
nav a{
    position: relative;
    font-family: 'Koulen';
    text-decoration: none;
    font-size: 18px;
    padding: 0px 10px;
    color:dodgerblue;
    border-radius: 10px;
    letter-spacing: 2px;
}
nav a::after{
    content: "";
    position:absolute;
    background-color:dodgerblue;
    height: 2px;
    width: 0%;
    left: 1.2vh;
    bottom: -4px;
    transition: 0.3s;
}
nav a:hover{
    color:black;
}
nav a:hover::after{
    width: 80%;
}
section{
    position:relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
}
.parallax{
    background: white;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100;
    background: linear-gradient(to top,black,transparent);
    z-index: 1000;
}
section img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit:contain;
    pointer-events: none;
    justify-content:space-around;
    overflow: hidden;
}
section img#bg{
    width: 100%;
    height: 100%;
}
section img#grl1{
    z-index: 10;
    left: 39vh;
    top: 12vh;
    bottom: 10vh;
    width: 30%;
}
section img#grl2{
    z-index: 10;
    width: 35%;
    top: 15.9vh;
    bottom: 10vh;
    left: 98vh;
}
section img#pot{
    width: 13%;
    left: 127vh;
    top: -29vh;
    overflow-x: hidden;
}
#text{
    top: 33vh;
    left: 66vh;
    position: absolute;
    font-family: 'Rancho';
    font-size: 4vw;
    color:steelblue;
    white-space: nowrap;
    z-index: 9;
    transform: translateY(100px);
}
#home, #products, #contact ,#aboutus{
    position: relative;
    width: 100%;
    background: white;
    height: 100vh;
    padding: 100px;
}
#home h2{
    position: relative;
    font-family: 'Nabla';
    font-size: 60px;
    letter-spacing: 2px;
    top: -290px;
}
@media all and (min-width: 320px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    body{
        overflow-x: hidden;
        background:white;
        min-height: 100vh;
        overflow-x: hidden;
    }
    header{
        position: absolute;
        width: 100%;
        padding: 0px 5px 5px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
    .logo{
        width: 100px;
        left: 1vh; 
        top: 1vh;
    }
}